.header {
    @include clearfix();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #fff;
    color: darkgray;

    h1 {
        margin: 0;
        font-size: 24px;
        float: left;
    }

    span {
        float: right;
        line-height: 24px;
    }
}