.swatches {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.swatch {
    -webkit-flex-grow: 6;
    flex-grow: 6;
    min-height: 200px;
    min-width: 200px;
    padding: 10px;
    color: rgba(black, .5);
    position: relative;
    transition: .2s;

    &.invert {
        color: rgba(white, .5);
    }

    &:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 0 0 5px #fff;
    }
}

.swatch-values {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.swatch-value {
    margin: 5px 0;
}