<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
    </head>
    <body>
    <header class="header">
        <h1>{{site.title}}</h1>
        <span>{{site.description}}</span>
    </header>

    {{content}}

    <footer class="footer">
        <small>Woohoo!</small>
        <p>You made it to the bottom of the color pit.</p>
        <small class="muted">Made by <a href="{{site.author_url}}">Zeb</a> &middot; <a href="{{site.github_url}}">View on Github</a></small>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
